#frm {
  display: flex;
  justify-content: center;
  align-items: center;
  color: green;
}
footer {
  position: absolute;
  bottom: 0;
  height: 2.5rem;
}
h1 {
  text-align: center;
  color: gray;
}
#footer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: gray;
}
header {
  background-color: lightblue;
  padding: 1px;
  box-shadow: 2px 2px 6px lightgrey;
}
body {
  margin: 0px;
}
.tbl table,
tr,
td,
th {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 5px 20px;
}
.tbl {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
}
tblBook {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
}
.tblBook table,
tr,
td,
th {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 5px 8px;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
}

.inter {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
label {
  padding: 10px;
  margin: 5px;
}
input {
  padding: 5px 10px;
  margin: 5px;
  border: 1px solid gray;
}
.addBookBtn {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
form label {
  display: inline-block;
  width: 150px;
}
.addBookBtn input {
  padding: 5px 10px;
  font-size: 1rem;
  color: gray;
}
.tblCategory {
  display: flex;
  justify-content: center;
  align-content: center;
}
.tblCategory table {
  border-collapse: collapse;
}
